# IDE files
.idea/

# Generated cache
/Kamebase/Layout/cache/
/Kamebase/Cacher/cache/

# User data
/assets/
/templates/

# Configurable data
/Controllers/
/Entities/
/Routes.php
/Config.php
/.htaccess