# disable folder listing
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

# redirect URLs to the index
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

# deny every file except for index
RewriteRule ^(Kamebase/|templates/|routes\.php|Config\.php) - [F,L,NC]
